<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <meta name="author" content="Go">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="{{ url_for('static', filename='register.js') }}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/64d790b45a.js"
            crossorigin="anonymous">
    </script>

  </head>
  <body>
    <div class="register-wrap">
      <header class="register-header">

        <h1 class="register-title">회원가입</h1>
        <h5 class="team_name">Join ZeroWaste</h5>
      </header>
      <form class="form_register">
        <div class="form_input">
          <label class="input_boxes">
                        <span class="input_icon">
                            <i class="fas fa-user-tag"></i>
                        </span>
            <input class="input_box" type="text" placeholder="이름" id="register-name">
          </label>

          <label class="input_boxes">
                        <span class="input_icon">
                            <i class="fas fa-user-check"></i>
                        </span>
            <input class="input_box" type="text" placeholder="아이디" id="register-id">
            <span><button onclick="overlap_check()" type="button" class="btn_id_check">중복확인</button></span>
          </label>
          <p id="help-id" class="register-help">2-10자의 영문, 숫자, 일부 특수문자(._-)만 입력 가능</p>
          <p id="help-id-login" class="help is-danger"></p>

          <label class="input_boxes">
                        <span class="input_icon">
                            <i class="fas fa-unlock-alt"></i>
                        </span>
            <input class="input_box" type="password" placeholder="비밀번호" id="register-pw">

          </label>
          <p id="help-password" class="register-help">
            영문,숫자 조합의 8-20자 사용 가능
          </p>
        </div>
      </form>
      <div class="btn_sign_up">
        <button onclick="join_blank_check()" type="button" class="">가입하기</button>
      </div>
    </div>
    <footer>
      <div class="register-footer">
        ©Team 2. All rights reserved.
      </div>

    </footer>

  </body>
</html>